<div id="container">
    <h1 id="heading">Contact</h1>
</div>
<style>
    @font-face {
        font-family: piepsi;
        src: url("fonts/PermanentMarker-Regular.ttf");
    }

    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-family: piepsi;
    }

    #heading {
        margin-bottom: 20px;
        text-shadow: 
        1px 1px 2px white, 
        -1px -1px 2px white, 
        1px -1px 2px white,
        -1px 1px 2px white;
        font-size: 3.5rem;
    }

    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>